; === ORBITER Master Configuration File ===
EchoAllParams = FALSE
LPadRect = 0 0 550 574

; === Logical parameters ===
DamageModel = 1
GenericMFDSize = 7
InstrumentUpdateInterval = 0.5
PanelScale = 0.7

; === Visual parameters ===
EnableCloudShadows = TRUE
EnableSpecularRipples = TRUE
EnableLocalLights = TRUE
AmbientLevel = 25
CSphereBgImage = Visible (DSS2/Wikisky)
CSphereBgPath = csphere\dds2
CSphereBgIntensity = 0.4

; === Debugging options ===
ForceReenableFontSmoothing = TRUE

; === Physics engine ===
DistributedVesselMass = TRUE
NonsphericalGravitySources = TRUE
RadiationPressure = TRUE
AtmosphericWind = TRUE

; === Device settings ===
DeviceIndex = 0
ModeIndex = 261
DeviceForceEnum = FALSE
Fullscreen = TRUE
NoVSync = TRUE
FullscreenPageflip = FALSE
WindowWidth = 400
WindowHeight = 300

; === Window positions ===
LpadScnListWidth = 139
LpadModListWidth = 213
LpadExtListWidth = 213

; === Active plugin list ===
ACTIVE_MODULES
  D3D9Client
  ScnEditor
  DX9ExtMFD
  XRSound
  LuaMFD
END_MODULES
